body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.top a {
    text-decoration: none;
    color: #BF40BF;
}

#opening-page {
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: 20px;
}

#highscores-page {
    justify-content: center;
    margin-left: 30%;
    margin-top: 8%;
    width: 60%;
    font-size: 20px;
}

button {
    background-color: #563d7c;
    border-color: #563d7c;
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

button:hover {
    background-color: #BF40BF;
    border-color: #BF40BF;
}

#container {
    margin: auto;
    width: 60%;
    font-size: 20px;
}

.hidden {
    display: none;
}